.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  border: none;
  color: var(--black);
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
.primary {
  &:hover {
    background-color: #5f42ea;
  }

  color: #fff;
  background-color: var(--primary);

  svg {
    fill: var(--white);
  }

}

.ghost {
  border: 1px solid #EBEBEB;
  background-color: transparent;
  &:hover {
    background-color: var(--primary);
    color: var(--white);
    transition: all 0.5s;

    svg {
      fill: var(--white);
    }
  }
}

.arrow {
  margin-left: 11px;
}

.right {
  transform: rotate(0deg);
  transition: all 0.5s;
}

.bottom {
  transform: rotate(90deg);
  transition: all 0.5s;
}