.paragraph {
  padding: 0;
  margin: 0;

  color: var(--black);
  font-weight: 400;
  line-height: 24px;
}

.small {
  font-size: 14px;
}

.average {
  font-size: 16px;
}

.big {
  line-height: 29px;
  font-size: 18px;
}