html,
body {
  padding: 0;
  margin: 0;
  color: var(--black);
  background-color: #E5E5E5;
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}


.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;


  /*************swing************/
  @keyframes swing {
    0% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }


  /*************swing hair************/
  @keyframes swinghair {
    0% {
      transform: rotate(6deg);
    }
    100% {
      transform: rotate(-6deg);
    }
  }

}

#zero {
  transform-origin: bottom;
  transform-box: fill-box;
}

#handboy {
  animation: swing ease-in-out 1.3s infinite alternate;
  transform-origin: 98% 98%;
  transform-box: fill-box;

}


#girllight {
  animation: swing ease-in-out 1.3s infinite alternate;
  transform-origin: 0% 97%;
  transform-box: fill-box;
}

#hairgirl {
  animation: swinghair ease-in-out 1.3s infinite alternate;
  transform-origin: 60% 0%;
  transform-box: fill-box;
}

:root {
  --black: #3B434E;
  --white: white;
  --primary: #6b48ef;
  --red: #DE0000;
  --red-light: #FC836D;
  --gray-light: #EBEBEB;
  --gray: #acbdda;
  --green: #1DC37E;
  --green-light: #C8F8E4;
  --font-family: 'Noto Sans Mono', monospace;
}